# 第2章: UNIXコマンドの基礎
hightemp.txtは，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [5]:
!head data/hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16

# 10. 行数のカウント

行数をカウントせよ．確認にはwcコマンドを用いよ．

In [36]:
%%file q10.py
f = open('data/hightemp.txt')
for i, _ in enumerate(f, start=1): pass
print(i)

Overwriting q10.py

In [1]:
!python q10.py

24

In [78]:
!grep -c '' hightemp.txt

24

# 11.タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [19]:
%%file q11.py
print(open('data/hightemp.txt').read().replace('\t', ' '))

Writing q11.py

In [2]:
!python q11.py

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [122]:
!sed 's/\t/ /g' hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [20]:
%%file q12.py
with open('data/hightemp.txt', 'r') as f, open('work/col1.txt', 'w') as f1, open('work/col2.txt', 'w') as f2:
    for line in f:
        col = line.split()
        f1.write(col[0] + '\n') #1列目のデータをcol1.txtに書き込み
        f2.write(col[1] + '\n') #2列目のデータをcol2.txtに書き込み

Writing q12.py

In [3]:
!python q12.py

In [9]:
!head -n 4 work/col1.txt
!echo "..."
!tail -n 4 work/col1.txt

高知県
埼玉県
岐阜県
山形県
...
大阪府
山梨県
山形県
愛知県

In [10]:
!head -n 4 work/col2.txt
!echo "..."
!tail -n 4 work/col2.txt

江川崎
熊谷
多治見
山形
...
豊中
大月
鶴岡
名古屋

In [11]:
!cut -f 1 data/hightemp.txt | head -n 4
!echo "..."
!cut -f 1 data/hightemp.txt | tail -n 4
!echo
!cut -f 2 data/hightemp.txt | head -n 4
!echo "..."
!cut -f 2 data/hightemp.txt | tail -n 4

高知県
埼玉県
岐阜県
山形県
...
大阪府
山梨県
山形県
愛知県

江川崎
熊谷
多治見
山形
...
豊中
大月
鶴岡
名古屋

# 13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [21]:
%%file q13.py
with open('work/col1.txt', 'r') as f1, open('work/col2.txt', 'r') as f2, open('work/col1_col2.txt', 'w') as f3:
        f3.write("".join([col1.rstrip('\n') + '\t' + col2 for col1,col2 in zip(f1, f2)])) #勝手に改行が入ってしまうので.rstrip('\n')で除去

Writing q13.py

In [6]:
!python q13.py

In [115]:
!head -n 4 work/col1_col2.txt
!echo ...
!tail -n 4 work/col1_col2.txt

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
...
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

In [116]:
!paste work/col1.txt work/col2.txt

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

# 14. 先頭からN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [12]:
%%file q14.py
import sys
N_HEADS = int(sys.argv[1])
with open('data/hightemp.txt', 'r') as f:
    head = "".join([f.readline() for line in range(N_HEADS)])
    print(head)

Overwriting q14.py

In [14]:
!python q14.py 4

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25

In [79]:
!head -n 4 data/hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25

# 15. 末尾のN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [15]:
%%file q15.py
import sys
def count_lines(file):
    return sum(1 for line in file)

N_TAILS = int(sys.argv[1])
with open('data/hightemp.txt', 'r') as f:
    LAST_NOT_DISP_LINE = count_lines(f) - N_TAILS 
    f.seek(0)
    for li, _ in enumerate(f, start=1):
        if li == LAST_NOT_DISP_LINE:
            break
    print("".join(f.readlines()))

Overwriting q15.py

In [16]:
!python q15.py 5

埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [78]:
!tail -n 5 data/hightemp.txt

埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

# 16. ファイルをN分割する

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [28]:
%%file q16.py
import sys
def div_list(data, N_DIV):
    N_LINES = len(data)
    start=0
    for i in range(int(N_DIV)):
        with open('work/split_{}.txt'.format(i), 'w') as f:
            n_elements = (N_LINES + i) // N_DIV #何行を１つの分割とするか
            f.write("".join(data[start:start+n_elements]))
            start = start + n_elements  

with open('data/hightemp.txt', 'r') as f:
    div_list(f.readlines(), sys.argv[1])

Overwriting q16.py

In [29]:
!python 16.py 5
!find ./ -name "split_*.txt" | xargs head

==> .//work/split_0.txt <==
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25

==> .//work/split_1.txt <==
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16

==> .//work/split_2.txt <==
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24

==> .//work/split_3.txt <==
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11

==> .//work/split_4.txt <==
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [17]:
%%file q16.sh
#!/bin/sh
N=$1
len=`cat data/hightemp.txt | wc -l`
div=$((len/N))
split -l $div data/hightemp.txt	./work/x

Overwriting q16.sh

In [18]:
!chmod u+x q16.sh
!./q16.sh 4
!find ./ -name "x**" | xargs head

==> .//work/xaa <==
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08

==> .//work/xab <==
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05

==> .//work/xac <==
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24

==> .//work/xad <==
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

# 17. １列目の文字列の異なり

1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [30]:
%%file q17.py
with open('data/hightemp.txt', 'r') as f:
    print(set(line.split()[0] for line in f))

Writing q17.py

In [19]:
!python q17.py

{'岐阜県', '埼玉県', '高知県', '静岡県', '群馬県', '山梨県', '愛媛県', '山形県', '和歌山県', '大阪府', '千葉県', '愛知県'}

In [15]:
!cat data/hightemp.txt | cut -f1 | sort | uniq

千葉県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県
和歌山県

# 18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [31]:
%%file q18.py
with open('data/hightemp.txt', 'r') as f:
    data = [line.split() for line in f] #リストのリスト
    sort_col3 = sorted(data, reverse = True, key = lambda x: float(x[2]))
    print("\n".join(["\t".join(data) for data in sort_col3]))

Writing q18.py

In [20]:
!python q18.py

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [5]:
!cat data/hightemp.txt | sort -n -k3r #3列目のk3 逆順のr

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

# 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [33]:
%%file q19.py
from collections import Counter
with open('data/hightemp.txt', 'r') as f:
    data_col1 = [data.split()[0] for data in f]
    count_col1 = Counter(data_col1) 
    print("".join([str(cnt) + ' ' + word + '\n' for word, cnt in count_col1.most_common()]))

Writing q19.py

In [21]:
!python q19.py

3 群馬県
3 山形県
3 埼玉県
3 山梨県
2 愛知県
2 千葉県
2 静岡県
2 岐阜県
1 大阪府
1 高知県
1 愛媛県
1 和歌山県

In [46]:
!cat data/hightemp.txt | cut -f 1 | sort -r | uniq -c | sort -r

   3 群馬県
   3 山梨県
   3 山形県
   3 埼玉県
   2 静岡県
   2 愛知県
   2 岐阜県
   2 千葉県
   1 和歌山県
   1 高知県
   1 愛媛県
   1 大阪府